body {
    
    background-color: rgb(255, 255, 255);
    color: rgb(102, 101, 101);
    font-family: 'Ubuntu', sans-serif;
    h3{
        text-align: center;
    }        
}

//modo nocturno
.nocheNegra{
    background-color: rgb(56, 56, 56);
}

.nocheGris {
    background-color: rgb(184, 181, 181);
}

.pixelNoche{
    background-image: url('https://raw.githubusercontent.com/ligatordaniel/PortafolioWebDani/master/assets/img/wallpaperNoche.png'); //16bit noche
}
.pixelDia{ 
    background-image: url('https://raw.githubusercontent.com/ligatordaniel/PortafolioWebDani/master/assets/img/wallpaper1.png'); //16 bit soleado
}

.tipo1 {
    background-color: red;
    font-size: 20px;
    height: 100px;
    margin: 10px;
    text-align: center;
    width: 598px;
}
.tipo2{
    background-color: grey;
    font-size: 40px;
    height: 100px;
    margin: 10px;
    text-align: center;
    width: 500px;
}

//modo nocturno


.masthead {
    height: 100vh;
    min-height: 500px;
    //background-image: url('https://source.unsplash.com/random');       //img aleatorio
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    h3{
        text-shadow: 2px 2px 40px rgb(255, 255, 255)
    }
  }





.presentacion {
    background-color: rgb(106, 107, 201);
    padding: 55px;
    color:rgb(231, 231, 231);

    h1 {
        color: rgb(243, 243, 243);
        text-align: left;        
        
    }

    p {
        color: rgb(223, 222, 222);
        text-align: left;
    }
    .descripcionPerfil {
        padding: 5px;
        text-align: left;
        text-align: justify;
    }

    .fotoPerfil {
        
        border-radius: 100%;
        width:100%;
        max-width:250px;
        height: auto;
        display: block;
        margin: auto;
        filter: drop-shadow(10px 10px 30px rgb(68, 68, 68));

    }
}



nav{
    border-radius: 1px 1px 5px 5px;
    filter: drop-shadow(10px 10px 30px #444);
    background-color: rgb(106, 107, 201);
    color: rgb(223, 222, 222);
           
}

.img1{
    width: 100px;
    height: auto;
    }
    
.caja1{
     text-align: center;
     padding: 15px;
     h2{
         font-size: 25px;
     }
    }

.img2{
    border-radius: 2%;
    width:100%;
    max-width:400px;
    height: auto;
    display: block;
    margin: auto;

    }





.img3{
    width: 100px;
    height: auto;

    }
    
    
.caja3{
    text-align: center;
    
    padding: 10px;
    
    }
  
  
  



footer{
    background-color: rgb(106, 107, 201);
    padding: 20px;
    filter: drop-shadow(10px 10px 30px rgb(68, 68, 68));
    border-radius: 5px 5px 0px 0px;
    

    h2{
        font-size: 16px;
        text-align: right;
        color:rgb(231, 231, 231);
    }
}




.thumbnail {
    max-width: 300px;
    display:block;
    margin:auto;
    

}

.imgThumbnail{
    width:100%;
    height: 200px;
    display:block;
    margin:auto;
    
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.06);
}

.tz-gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
}

.tz-gallery .lightbox img {
    border-radius: 4px 4px 0 0;
}

.tz-gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}


