/********* Configuracion General *********/
body {
  color: #575656;
  font-family: "Ubuntu", sans-serif;
}
body h1 {
  text-align: center;
  font-size: 16px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dadada;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/********* Configuracion General *********/
/********* Animaciones General CSS *********/
.animadoDerecha {
  opacity: 0;
}

.mostrarDerecha {
  animation: mostrarDerecha 4s;
}

@keyframes mostrarDerecha {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.bienvenidoDisplayOpacity {
  opacity: 0;
}

.efectoFlotar {
  animation: efectoFlotar 5s 1s infinite alternate both;
}

@keyframes efectoFlotar {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 1;
  }
}
.efectoParpadear {
  animation: efectoParpadear 0.8s 1s infinite alternate both;
}

@keyframes efectoParpadear {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.animacionLatia {
  animation-name: animacionLatia;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  opacity: 0;
  animation-timing-function: ease-in;
  width: 90px;
}

@keyframes animacionLatia {
  0% {
    /*posicion inicial 0%*/
    position: absolute;
    /*-absolute- referencial elemento mas cercano*/
    margin-top: 0px;
    /*-relative- debe ser div padre*/
    margin-left: 89%;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  9% {
    opacity: 0.8;
  }
  10% {
    /*posicion final animacion*/
    position: absolute;
    margin-top: -200px;
    margin-left: 0%;
  }
  11% {
    /*posicion final hidden*/
    opacity: 0;
  }
  12% {
    display: none;
  }
  100% {
    display: none;
  }
}
.animacionLatio {
  animation-name: animacionLatio;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  opacity: 0;
  animation-delay: 8s;
  animation-timing-function: ease-in;
  width: 150px;
}

@keyframes animacionLatio {
  0% {
    /*posicion inicial 0%*/
    position: absolute;
    /*-absolute- referencial elemento mas cercano*/
    margin-top: 0px;
    /*-relative- debe ser div padre*/
    margin-left: 89%;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  9% {
    opacity: 0.8;
  }
  10% {
    /*posicion final animacion*/
    position: absolute;
    margin-top: -50px;
    margin-left: 0%;
  }
  11% {
    /*posicion final hidden*/
    opacity: 0;
  }
  12% {
    display: none;
  }
  100% {
    display: none;
  }
}
/********* Animaciones General CSS *********/
/********* modo nocturno switch *********/
.modoDiaPurpura {
  background-color: #6a6bc9;
  transition: 1s ease all;
}

.modoDiaBlanco {
  background-color: white;
  transition: 1s ease all;
}

.modoNocheNegro {
  background-color: #1f1f1f;
  transition: 1s ease all;
}

.modoNocheGris {
  background-color: #b8b8b8;
  transition: 1s ease all;
}

.modoNocheTextoGris {
  transition: 1s ease all;
  color: #3a3a3a;
}

.wallpaperNoche {
  background-image: url("https://raw.githubusercontent.com/ligatordaniel/PortafolioWebDani/master/assets/img/wallpaperNoche.png");
  transition: 1s ease all;
}

.wallpaperDia {
  background-image: url("https://raw.githubusercontent.com/ligatordaniel/PortafolioWebDani/master/assets/img/wallpaper1.png");
  transition: 1s ease all;
}

/********* modo nocturno *********/
/********* Navbar **********/
nav {
  filter: drop-shadow(3px 3px 3px #5f5f5f);
  color: #dfdede;
}

/********* Navbar **********/
/********* Pantalla Bienvenido *********/
.masthead {
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-color: #464646;
  color: #6a6bc9;
  /*-relative- referencia su posicion real en el html*/
}
.masthead .bienvenidoDisplay {
  margin-top: 20%;
}
.masthead .h3 {
  font-size: 300%;
}
.masthead p {
  color: #424242;
  text-shadow: 2px 2px 15px #ececec;
}

/********* Pantalla Bienvenido *********/
/******** Pantalla Presentacion ***********/
.sobreMi {
  color: #dfdede;
  height: 100vh;
  padding: 15%;
}
.sobreMi h3 {
  text-align: center;
  font-size: 30px;
}
.sobreMi p {
  text-align: center;
  text-align: justify;
}
.sobreMi .fotoPerfil {
  border-radius: 50%;
  width: 80%;
  filter: drop-shadow(3px 3px 3px #444444);
  display: block;
  margin: auto;
}

/******** Pantalla Presentacion ***********/
/******** Pantalla Habilidades ***********/
.habilidades {
  height: 100vh;
  text-align: center;
}
.habilidades h2 {
  padding-top: 26px;
  font-size: 150%;
}
.habilidades .caja1 {
  padding-bottom: 2%;
}
.habilidades .caja1 h5 {
  font-size: 20px;
  color: #3d3d3d;
}
.habilidades .caja1 .spanHabilidades {
  font-size: 16px;
  color: #4e4e4e;
}
.habilidades .caja1 img {
  width: 70px;
  filter: drop-shadow(2px 2px 1px #444444);
}

/******** Pantalla Habilidades ***********/
/******** Pantalla Proyectos ***********/
.proyectos h2 {
  text-align: center;
  padding: 2%;
  font-size: 150%;
}
.proyectos .caja2 {
  width: 300px;
  height: 350px;
  max-width: 100%;
  border: 1px solid gray;
  background-color: #cfd1f8;
  border-radius: 2%;
  filter: drop-shadow(3px 3px 5px #444444);
  margin-bottom: 8%;
}
.proyectos .caja2 .titulo {
  text-align: center;
  color: #dfdfdf;
  border-radius: 2%;
}
.proyectos .caja2 h3 {
  font-size: 100%;
  padding: 5px;
}
.proyectos .caja2 img {
  width: 100%;
  height: 150px;
}
.proyectos .caja2 p {
  font-size: 70%;
}

/******** Pantalla Contacto ***********/
/******** Pantalla Contacto ***********/
.contacto {
  color: #6b6b6b;
  height: 100vh;
  text-align: center;
}
.contacto h2 {
  font-size: 150%;
  padding-top: 2%;
}
.contacto h3 {
  font-size: 140%;
}
.contacto .caja3 img {
  width: 100px;
  filter: drop-shadow(3px 3px 1px #444444);
}
.contacto .caja3 p {
  font-size: 80%;
}

footer {
  padding: 15px;
  filter: drop-shadow(3px 3px 5px #444444);
}
footer p {
  font-size: 14px;
  text-align: right;
  color: #dfdede;
}

/*****************************Tablet config*************************************/
@media (max-width: 800px) {
  .sobreMi {
    height: 100%;
  }
  .sobreMi .fotoPerfil {
    border-radius: 50%;
    width: 30%;
    filter: drop-shadow(3px 3px 3px #444444);
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }

  .habilidades {
    height: 100%;
    text-align: center;
  }
  .habilidades .caja1 {
    padding-bottom: 5%;
  }
  .habilidades .caja1 h5 {
    font-size: 90%;
    color: #3d3d3d;
  }
  .habilidades .caja1 .spanHabilidades {
    font-size: 60%;
    color: #4e4e4e;
  }
  .habilidades .caja1 img {
    width: 70px;
    filter: drop-shadow(1px 1px 2px #444444);
  }

  .contacto {
    height: 80%;
  }
  .contacto h2 {
    font-size: 120%;
    padding-top: 2%;
    margin-bottom: 2%;
  }
}
/*****************************Tablet config*************************************/
/*****************************Phone config*************************************/
@media (max-width: 500px) {
  /********* Pantalla Bienvenido *********/
  .masthead .bienvenidoDisplay {
    margin-top: 50%;
  }
  .masthead h3 {
    font-size: 200%;
  }

  /******** Pantalla Presentacion ***********/
  .sobreMi {
    height: 100%;
  }
  .sobreMi .fotoPerfil {
    border-radius: 50%;
    width: 70%;
    filter: drop-shadow(3px 3px 3px #444444);
    display: block;
    margin: auto;
  }
  .sobreMi h3 {
    font-size: 120%;
  }
  .sobreMi p {
    font-size: 80%;
  }

  /******** Pantalla Presentacion ***********/
  /******** Pantalla Habilidades ***********/
  .habilidades {
    height: 100%;
    text-align: center;
  }
  .habilidades .caja1 {
    padding-bottom: 5%;
  }
  .habilidades .caja1 h5 {
    font-size: 90%;
    color: #3d3d3d;
  }
  .habilidades .caja1 .spanHabilidades {
    font-size: 60%;
    color: #4e4e4e;
  }
  .habilidades .caja1 img {
    width: 70px;
    filter: drop-shadow(1px 1px 2px #444444);
  }

  /******** Pantalla Habilidades ***********/
  /******** Pantalla Proyectos ***********/
  .proyectos {
    height: 100%;
  }
  .proyectos h2 {
    text-align: center;
    padding: 2%;
    font-size: 130%;
    margin-bottom: 10%;
  }
  .proyectos .caja2 {
    width: 250px;
    height: 320px;
    margin: 0px auto;
    margin-bottom: 15px;
  }
  .proyectos .caja2 h3 {
    font-size: 100%;
    padding: 5px;
  }
  .proyectos .caja2 img {
    width: 100%;
    height: 150px;
  }
  .proyectos .caja2 p {
    font-size: 65%;
  }

  /******** Pantalla Contacto ***********/
  /******** Pantalla Contacto ***********/
  .contacto {
    height: 100%;
  }
  .contacto h2 {
    font-size: 120%;
    padding-top: 4%;
    margin-bottom: 10%;
  }
  .contacto h3 {
    font-size: 100%;
  }
  .contacto .caja3 img {
    width: 70px;
    filter: drop-shadow(3px 3px 1px #444444);
  }
  .contacto .caja3 p {
    font-size: 70%;
  }

  footer {
    padding: 15px;
    filter: drop-shadow(3px 3px 5px #444444);
  }
  footer p {
    font-size: 14px;
    text-align: right;
    color: #dfdede;
  }
}

/*# sourceMappingURL=estilos.css.map */
